/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
}
/** Fluid container **/
.container-fluid {
    width: 100%;
    max-width: 100%;
}

/* FLEX CONTAINER */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* COLUMNS */
.col {
    flex-grow: 1;
}

